*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Kita simpan warna di variabel agar mudah diganti nanti */
    --primary-color: #2563eb; /* Biru */
    --bg-color: #f8f9fa;      /* Abu-abu muda */
    --text-color: #333;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: var(--bg-color);
    color: var(--text-color);
}

nav{
    background-color:var(--bg-color);
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
}

nav ul{
    background-color: var(--bg-color);
    list-style: none;
    display: flex;
    gap: 30px;
}

nav a{
    text-decoration: none;
    font-weight: bold;
}

#projects{
    background-color: var(--bg-color);
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 2rem;
}

#projects article{
    background-color: var(--bg-color);
    width: 300px;
    padding: 20px;
    margin: 10px;

}

.project-card img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

#hero{
    background-color:var(-);
    text-align: center;
    padding: 4rem 1rem 0rem 1rem;
}

#hero img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid var(--primary-color);
}

#hero button{
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    border: solid 1px var(--primary-color);
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: 0.5s;
}

#hero button:hover{
    color: var(--primary-color);
    background: var(--bg-color);
    border: solid 1px var(--primary-color);
}

.featured-project {
    text-align: center;
}

footer{
    text-align: center;
    padding: 2rem;
    background-color: #333;
    color: var(--bg-color);
}

footer a{
    text-decoration: underline;
    margin: 0 10px;
    color: var(--primary-color);
    font-style: italic;
}

#filters{
    display: flex;
    justify-content: center;
    gap: 20px;
}

#filters button{
    padding: 1rem;
    border: solid 2.5px var(--primary-color);
    color: var(--primary-color);
    border-radius: 35px;
    background: var(--bg-color);
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

#filters button:hover{
    background: var(--primary-color);
    color: var(--bg-color);
}

.featured-project{
    padding: 1rem;
}


#contact{
    display: flex;
    padding: 4rem;
    justify-content: center;
    gap: 4rem;
    background-color: whitesmoke;
}

form{
    margin: auto 0;
}

.form-group input{
    padding: 10px;
    background-color: var(--bg-color);
    border: solid 1px var(--primary-color);
    width: 100%;
    border-radius: 10px;
}

form button{
    margin-top: 10px;
    padding: 9px;
    border: solid 2px var(--primary-color);
    color: var(--bg-color);
    border-radius: 10px;
    background: var(--primary-color);
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

form button:hover{
    background: var(--bg-color);
    color: var(--primary-color);
}

#nameError , #emailError{
    font-size: 0.75rem;
    color: rgba(255, 0, 0, 0.34);
}